@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn-back{
    background: #EC1112;
    color: #fff;
    border-radius: 16px;
    margin: 0 0.7rem 0 0;
}
#btn-back:hover{
    background: #fff;
    color: #EC1112;
    border: 1px solid #EC1112;
}
.lead{
    color: #888;
}
.badge{
    background: #EC1112;
}
.btn{
    background: #EC1112 !important;
    color: #fff !important;
    border: none !important;
}
input:focus{
    border: 1px solid #EC1112 !important;
    box-shadow: none !important;
}
input::selection {
    background-color: cyan;
}
.custom-radio-input {
    display: none;
}

.custom-radio-label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.custom-radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #888;
    border-radius: 50%;
    background-color: #fff;
}

.custom-radio-input:checked + .custom-radio-label::before {
    border-color: #EC1112;
    background-color: #EC1112;
}

.custom-radio-label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s;
}
.custom-radio-input:checked + .custom-radio-label::after {
    opacity: 1;
}
.custom-checkbox-input {
    display: none;
}

.custom-checkbox-label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #fff;
}

.custom-checkbox-input:checked + .custom-checkbox-label::before {
    border-color: #EC1112;
    background-color: #EC1112;
}

.custom-checkbox-label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s;
}

.custom-checkbox-input:checked + .custom-checkbox-label::after {
    opacity: 1;
}